body {
    text-align:center;
}
canvas {
    border-color:black;
    border-width: 4px;
    border-style: solid;
}
input {
    transform: translateX(50%);
    transform: translateY(-90%);
}